*.aux
*.bbl
*.bcf
*.blc
*.blg
*.dvi
*.idx
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.tdo
*.toc
*.vrb
*~
/Poster/images/target.svg
/.dropbox
/Thesis/images/calibration_objekt.blend
/Thesis/images/calibration_objekt.blend1
/Thesis/images/schachbrett.png
/Thesis/images/schachbrett.svg
